src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

	<flow name="getAllAirlines" doc:id="20d7df1c-1762-4636-81f9-97bcf34a24ab" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="1fe5893e-875a-420e-90ab-fb080f7a6e60">
			<route>
				<flow-ref doc:name="getAmerican" doc:id="de61ce43-0023-456b-8a54-0af67bfaa9da" name="getAmerican" />
			</route>
			<route>
				<flow-ref doc:name="getUnited" doc:id="a548a4a9-f8e2-412c-9e34-9a6b02219259" name="getUnited" />
			</route>
			<route>
				<flow-ref doc:name="getDelta" doc:id="54e2cb3f-cf1c-4a05-89d8-1b8701450583" name="getDelta" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="flatten to Flight[] POJO (JSON)" doc:id="b078a6e3-6170-4c8e-a407-36e8c0ec846b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlights" doc:id="f08aed81-da3d-43ef-97a2-07719672a5fb" >
		<http:listener doc:name="GET /flights" doc:id="7ab2170a-21ae-4f73-9906-349fe9be3693" config-ref="mua-flights-api-httpListenerConfig" path="/flights" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
			</http:error-response>
		</http:listener>
		<set-variable value="#[trim(lower(attributes.queryParams.airline))]" doc:name="airline" doc:id="c2d52078-4c64-414e-837c-26a17da7f377" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="1e4f5ab2-7e43-4685-a365-c08dccb0642d" name="setCode"/>
		<validation:is-true doc:name="Is true" doc:id="ea95051c-5479-4bbc-adfc-1ddc01eb36fc" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]"/>
		<choice doc:name="Choice" doc:id="9bbd2542-d49e-48a1-b233-d55057c03d40" >
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmerican" doc:id="15455b23-38e7-4eef-8c3e-b236aa6feedf" name="getAmerican"/>
			</when>
			<when expression='#[vars.airline == "united"]'>
				<flow-ref doc:name="getUnited" doc:id="6dac0b80-8c10-4210-82a8-01aa3d182df1" name="getUnited"/>
			</when>
			<when expression='#[vars.airline == "delta"]'>
				<flow-ref doc:name="getDelta" doc:id="1a1cbceb-e859-4910-93e8-150715a6ca26" name="getDelta"/>
			</when>
			<when expression="#[vars.airline == null]">
				<flow-ref doc:name="getAllAirlines" doc:id="04191d73-cbde-4ed3-bc7c-2ff461a54269" name="getAllAirlines"/>
			</when>
			<otherwise >
				<set-payload value='#[output application/json
---
{
	"message": "Invalid airline specified"
}]' doc:name='{ "message": "Invalid airline specific" }' doc:id="70adf90e-4844-4658-b9df-82f8a4f567c0" />
				<set-variable value="400" doc:name="set 400: BAD_REQUEST" doc:id="9ca4de16-b17f-4eeb-9a87-7681ade6af1e" variableName="httpStatus"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="enforce JSON" doc:id="b602ef4b-57da-4e9e-af19-4665b76e4585" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
