src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setCode" doc:id="35ee9115-ec3a-4caf-a621-6d5421be7c9e" >
		<set-variable value="#[attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="3a4ebb96-9573-47ed-8b13-718f29a9ae02" variableName="code" />
	</sub-flow>
	<flow name="getAmerican" doc:id="0427138a-edb8-4fd5-bedb-56f086a38182" >
		<http:listener doc:name="GET /american" doc:id="f704e9cf-e64a-4e18-8d03-0d3b66ee5f05" config-ref="mua-flights-api-httpListenerConfig" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="4cea18d0-ff45-48d2-9f6c-30f4fb5dd7bf" name="setCode" />
		<american-flights-api:get-flights doc:name="GET /flights" doc:id="9ac497de-76fe-447c-bb68-b1b3118df0ca" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="to Flight POJO (JSON)" doc:id="de02ce79-685c-4f15-b928-5cfc4163e533" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getUnited" doc:id="80835931-6ae0-4436-ac11-53d2ca43d270" >
		<http:listener doc:name="GET /united" doc:id="607c5132-8251-4053-834f-645a60e6cbad" config-ref="mua-flights-api-httpListenerConfig" path="/united" allowedMethods="GET"/>
		<choice doc:name="filtering destination?" doc:id="c215c4e9-da16-4952-a7e4-4a1d05a594db" >
			<when expression="#[attributes.queryParams.code == null]">
				<http:request method="GET" doc:name="GET /united/flights" doc:id="d49b288f-f796-48ae-96cb-05d3babdb132" config-ref="HTTP_Request_configuration" path="/flights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="setCode" doc:id="0f1bf735-abca-4130-ba89-db22b9c2454d" name="setCode" />
				<http:request method="GET" doc:name="GET /united/flights/{code}" doc:id="dd9136cf-706f-40d0-8978-e96aa83ed7b7" config-ref="HTTP_Request_configuration" path="/flights/{code}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"code" : vars.code
}]]]></http:uri-params>
		</http:request>
			</otherwise>
		</choice>
		<ee:transform doc:name="to Flight POJO (JSON)" doc:id="6f389ef3-a35a-4082-bff5-d8bd520ca13b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class: "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
